# ==============================================================================
# DOCKER COMPOSE - VARIABLES DE ENTORNO LOCALES
# ==============================================================================
POSTGRES_DB=caryvil_dev
POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo_dev_password_2026
DB_NAME=caryvil_dev
ADMIN_PASSWORD=admin_caryvil_secret_2026
